@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	/* временно */
	background-color: #ddd;
}

header {
	width: 100%;
	height: 70px;
	background-color: #fff;
	display: flex;
	/* при display: flex выравнивает элементы по вертикали */
	align-items: center;
	padding: 0 50px;
	
	position: fixed;
}

.logo-wrapper {
	height: 50px;
	width: 150px;
}

.logo-wrapper img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

.header-nav {
	margin-left: auto;
	margin-right: 30px;
}

.header-nav ul {
	display: flex;
}

.header-nav ul li {
	list-style-type: none;
	padding-right: 15px;
}

.header-nav ul li a {
	color: #111;
	text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.header-nav ul li a:hover {
	background-size: 100% 2px;
}


.main-btn {
	width: 150px;
	height: 30px;
	border: 1px solid #111;
	border-radius: 4px;
	font-size: 14px;
	/*text-transform: uppercase;
	font-weight: 700;*/
	transition: all .5s ease;
	cursor: pointer;
}

.main-btn:hover {
	background: #111;
	color: #fff;
}


/* первая секция */
.header-section {
/*	background: url("assets/header-section-background.jpg");
*/	background: linear-gradient(0deg, rgba(32, 32, 32, 0.4), rgba(32, 32, 32, 0.4)), url("assets/header-section-background.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 95vh;
	background-size: cover;
	padding-top: 70px;
}

.header-section h1 {
	color: white;
	text-align: center;
	margin-top: 75px;
	font-size: 48px;
}

/* секция преимущества */
.new-features-section {
	min-height: 70vh;
	width: 100%;
	background-color: #eee;
	padding: 60px 50px;
}

.telegram-icon {
	background: url("assets/telegram.svg") no-repeat;
	width: 32px;
	height: 32px;
	background-size: cover;
	display: block;
	/*margin: 0 auto;*/
}

.about-us-section {
	padding-top: 70px;
}


.container {
	max-width: 1440px;
	margin: 0 auto;
}


.cards-block {
	display: flex;
	justify-content: space-around;
}



.card {
	width: 350px;
	height: 250px;
	background-color: #fff;
	box-shadow: 0 8px 24px 0 rgba(0,0,0,.1);
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card h3 {
	/*text-align: center;*/
}

.new-features-section {
	text-align: center;
}

.underline {
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 50px;

	display: inline-block;
	color: #111;
}


/* псевдоэлементы after - после */
.underline::after {
	content: "";
	display: inline-block;
	width: 50%;
	height: 2px;
	background: orange;
}



.signin {
	color: #111;
	font-size: 18px;
	line-height: 18px;
	margin-top: 50px;
}
/* псевдоэлементы before - до */
.signin::before {
	content: "";
	display: inline-block;
	background: url("assets/signin.svg") no-repeat;
	width: 16px;
	height: 16px;
	background-size: cover;
	margin-right: 10px;
	margin-bottom: -2px;
}


