@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic");
body {
  color: white;
}

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

h1 {
  font-family: "PT Serif", serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
}

h2 {
  font-family: "PT Serif", serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

img {
  max-width: 100%;
}

button,
button:active,
button:focus {
  outline: none;
}

header {
  background-color: #ff4e4e;
  height: 94px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding-top: 14px;
}

header .col-lg-5 {
  padding-left: 0;
}

header .col-lg-2 {
  padding-left: 0;
}

header .button {
  margin-top: 8px;
  margin-left: 10px;
}

.logo {
  margin-left: 42px;
  display: inline-block;
}

.number {
  margin-top: 3px;
  font-size: 18px;
  cursor: pointer;
}

.main-mnu ul {
  padding-left: 0;
  margin-top: 24px;
}

.main-mnu ul li {
  display: inline-block;
  font-size: 18px;
  padding-left: 20px;
}

.main-mnu ul li:first-child {
  padding-left: 0;
}

.button {
  padding: 5px 12px;
  background-color: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.button:hover {
  background-color: white;
  color: #ff4e4e;
  -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.button:active {
  background-color: #fea8a8;
  color: #ff4e4e;
}

.language {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  margin-top: 22px;
  cursor: pointer;
}

.section-2 {
  height: 450px;
  background-color: #3e3e3e;
}

.owl-carousel {
  height: 440px;
}

.owl-carousel .owl-prew {
  left: 0 !important;
}

.owl-carousel .owl-next {
  right: -50px !important;
}

.owl-carousel .slider-text h3 {
  margin-top: 35px;
  margin-bottom: 55px;
}

.main__slider {
  width: 100%;
  height: 450px;
  margin-left: 30px;
  margin-right: -30px;
}

.main__slider h1 {
  width: 458px;
}

.main__slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 450px;
}

.main__slider__slide .slide-text {
  margin-top: 90px;
}

.main__slider__slide .slide-img {
  min-width: 500px;
}

.main__slider__slide.man .slide-img {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main__slider__slide.man .slide-text {
  margin-right: -50px;
}

.main__slider__slide.man h1 {
  padding-bottom: 27px;
}

.main__slider__slide.man ul {
  margin-top: 56px;
}

.main__slider__slide.man ul li {
  position: relative;
  list-style: none;
  color: #ffda2f;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
}

.main__slider__slide.man ul li::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 8px;
  left: -30px;
  background: url("../img/check-mark.png") left center no-repeat;
  background-size: cover;
}

.main__slider__slide.money .slide-text > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 96px;
}

.main__slider__slide.money .slide-text > span h1 {
  display: block;
  width: 50px;
  margin-right: 36px;
}

.main__slider__slide.money .proc {
  position: relative;
  display: inline-block;
  color: #ffda2f;
  font-family: "Open Sans";
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
}

.main__slider__slide.money .proc span {
  position: relative;
  font-size: 30px;
  display: block;
  margin-top: 25px;
  text-align: center;
}

.main__slider__slide.money .proc span:before {
  position: absolute;
  content: '';
  width: 100px;
  height: 1px;
  top: -0px;
  left: 50%;
  margin-left: -50px;
  background-color: #ffda2f;
}

.main__slider__slide.money .proc:before {
  position: absolute;
  content: '';
  width: 238px;
  height: 238px;
  top: -70px;
  margin-left: -17px;
  border-radius: 238px;
  background-color: #4b4b4b;
  z-index: -1;
}

.main__slider__slide.money .slide-img {
  margin-left: -50px;
  margin-top: 20px;
}

.main__slider__slide.diagramma .slide-text {
  margin-right: -80px;
}

.main__slider__slide.diagramma .slide-text h1 {
  min-width: 500px;
}

.main__slider__slide.diagramma .slide-img img {
  margin-top: 30px;
}

.main__slider__slide.diamond .slide-text {
  margin-right: -90px;
  max-width: 458px;
}

.main__slider__slide.diamond .slide-text h1 {
  text-align: left;
}

.main__slider__slide.diamond .slide-img {
  min-width: 554px;
}

.main__slider__slide.diamond .slide-img img {
  margin-top: 77px;
  margin-left: -30px;
}

.main__slider__slide.man2 .slide-text {
  margin-right: -45px;
}

.main__slider__slide.man2 .slide-img img {
  margin-top: 30px;
}

.main__slider__slide.calendar .slide-text .timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffda2f;
  font-family: "Open Sans";
}

.main__slider__slide.calendar .slide-text .timer span:first-child {
  margin-left: auto;
  font-size: 72px;
  font-weight: 700;
}

.main__slider__slide.calendar .slide-text .timer span:last-child {
  display: inline-block;
  margin-left: 24px;
  font-size: 24px;
  max-width: 157px;
  line-height: 30px;
}

.main__slider__slide.calendar .slide-img img {
  margin-top: 20px;
}

.advantages .check-adv {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #ffda2f;
  margin-bottom: 10px;
}

.advantages .check-adv img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 4px;
}

.section-3 {
  background-color: #f6f6f6;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantage-item {
  text-align: center;
  padding: 46px 15px 30px 15px;
  height: 220px;
  width: 25%;
  word-wrap: break-word;
}

.advantage-item .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.advantage-item h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.grey-item {
  background-color: #f2f2f2;
}

.big-button-block {
  margin: 50px 0 100px 0;
  text-align: center;
  height: 95px;
}

.big-button-block .big-button {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 18px;
  background-color: #ffda2f;
  border: none;
  border-radius: 10px;
  font-family: "PT Serif", serif;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  color: #4b4b4b;
  -webkit-box-shadow: inset 0px -2px 0px 0px rgba(237, 157, 14, 0.3);
          box-shadow: inset 0px -2px 0px 0px rgba(237, 157, 14, 0.3);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.big-button-block .big-button:hover {
  -webkit-box-shadow: 0px 6px 1px 0px rgba(0, 0, 0, 0.05), inset 0px -2px 0px 0px rgba(237, 157, 14, 0.3);
          box-shadow: 0px 6px 1px 0px rgba(0, 0, 0, 0.05), inset 0px -2px 0px 0px rgba(237, 157, 14, 0.3);
  border-bottom: solid 6px rgba(237, 157, 14, 0.3);
  margin-top: -6px;
}

.big-button-block .big-button span {
  margin-left: 24px;
  text-align: left;
  float: right;
}

.big-button-block .big-button:before, .big-button-block .big-button:after {
  position: absolute;
  content: '';
  width: 341px;
  height: 1px;
  top: 50%;
  left: -400px;
  background-color: #dadada;
}

.big-button-block .big-button:after {
  left: unset;
  right: -400px;
}

.section-4 {
  color: black;
  padding-bottom: 60px;
}

.section-4 h2 {
  position: relative;
  margin-left: 25px;
  text-align: left;
}

.section-4 h2:before {
  position: absolute;
  content: '';
  height: 40px;
  background-color: #ffda2f;
  width: 3px;
  display: block;
  margin-left: -25px;
}

.section-4 .button {
  border: solid 1px #ff7171;
  color: #ff7171;
  font-size: 14px;
  margin-left: 5px;
}

.section-4 .button:hover {
  border: solid 1px #ff4e4e;
  background-color: #ffa9a9;
  color: white;
}

.news-item .item-img {
  margin-bottom: 55px;
  margin-top: 8px;
}

.news-item .item-date {
  font-size: 12px;
  color: #818181;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
}

.news-item a {
  font-family: "PT Serif", serif;
  font-size: 18px;
  color: #212121;
  font-weight: 900;
  line-height: 1;
  line-height-transition: all .5s ease;
}

.news-item a:hover {
  text-decoration: underline;
}

.news-item .item-moretext {
  margin-top: 5px;
  font-size: 16px;
  color: #212121;
}

.gold-ingot {
  height: 100%;
  border: solid 5px #ffda2f;
  border-radius: 10px;
  padding: 20px 25px;
}

.gold-ingot .ingot-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gold-ingot .h2-text {
  font-family: "PT Serif", serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.gold-ingot .param-main {
  text-align: center;
  font-family: "PT Serif", serif;
  font-size: 18px;
  font-weight: 900;
  color: #212121;
  line-height: 1;
}

.gold-ingot .param-main1 {
  float: left;
  width: 50%;
  display: inline-block;
  border-top: solid 1px #212121;
  border-bottom: solid 1px #212121;
  padding: 18px 0;
}

.gold-ingot .param-main2 {
  width: 50%;
  float: right;
  display: inline-block;
  border-top: solid 1px #212121;
  border-bottom: solid 1px #212121;
  padding: 18px 0;
}

.gold-ingot .param-block {
  font-size: 18px;
  text-align: center;
  color: #212121;
  font-family: "Open Sans", sans-serif;
}

.gold-ingot .param-block .param1 {
  float: left;
  width: 50%;
  margin-top: 30px;
}

.gold-ingot .param-block .param2 {
  float: right;
  width: 50%;
  margin-top: 30px;
}

.section-5 {
  background: url("../img/slider-back.png") no-repeat center;
  height: 350px;
  text-align: center;
  padding-top: 40px;
}

.section-5 .reviews {
  font-size: 34px;
  font-family: "PT Serif", serif;
  font-family-margin-bottom: 0;
}

.section-5 .owl-carousel .owl-nav button.owl-prev, .section-5 .owl-carousel .owl-nav button.owl-next {
  top: 50%;
}

.section-5 .first-review {
  height: 250px;
}

.section-5 .review-name {
  font-size: 24px;
  font-family: "PT Serif", serif;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 30px;
}

.section-5 .review-body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

.section-5 .review-mark {
  width: 108px;
  height: 15px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  margin-top: 15px;
}

.section-6 {
  width: 100%;
  height: 630px;
}

.section-6 .map-container {
  overflow: hidden;
  height: 100%;
  margin-bottom: -46px;
}

.section-6 .map-container > iframe {
  border: none;
  margin-top: -46px;
  height: calc(100% + 46px);
}

footer {
  background-color: #e6e6e6;
  padding-top: 25px;
  padding-bottom: 15px;
  border-top: solid 3px #dadada;
}

h6 {
  font-size: 12px;
  color: #303030;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-top: 5px;
}

.footer-menu ul {
  padding-left: 0;
}

.footer-menu ul li {
  display: inline-block;
  padding-left: 10px;
}

.footer-menu ul li a {
  color: #3e3e3e;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
  font-weight: 900;
}

.footer-top {
  cursor: pointer;
}

.footer-top span {
  font-size: 14px;
  color: #545454;
  margin-right: 10px;
}

.footer-top .footer-icon {
  display: inline-block;
}

.iconset {
  height: 72px;
  width: 72px;
  float: left;
  display: block;
  background: url("../img/iconset.png") no-repeat;
}

.i1_1 {
  background-position: 0 0;
}

.i1_2 {
  background-position: 0 -195px;
}

.i1_3 {
  background-position: 0 -406px;
}

.i2_1 {
  background-position: -300px 0;
}

.i2_2 {
  background-position: -300px -195px;
}

.i2_3 {
  background-position: -300px -406px;
}

.i3_1 {
  background-position: -600px 0;
}

.i3_2 {
  background-position: -600px -195px;
}

.i3_3 {
  background-position: -600px -406px;
}

.i4_1 {
  background-position: -900px 0;
}

.i4_2 {
  background-position: -900px -195px;
}

/* button */
.toggle-mnu {
  display: block;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 48px;
}

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin: 32px auto 0;
}

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

.toggle-mnu span:after {
  top: 9px;
}

.toggle-mnu span {
  position: relative;
  display: block;
}

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
.toggle-mnu.on span {
  background-color: transparent;
}

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
      -ms-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px);
}

.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible;
}

.section-2-contacts, .section-2-about {
  background-color: #f2f2f2;
}

.section-2-contacts h3, .section-2-about h3 {
  color: #303030;
  font-style: italic;
  margin: 0 50px;
}

.section-2-contacts .text-block, .section-2-about .text-block {
  background: #f6f6f6;
  padding: 50px 30px;
}

.section-2-contacts .logo-place, .section-2-about .logo-place {
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}

.section-2-contacts .logo-place img, .section-2-about .logo-place img {
  width: 100%;
  height: 100%;
}

.section-2-contacts .places-center, .section-2-about .places-center {
  text-align: center;
  color: black;
  font-family: "PT Serif", serif;
  font-weight: 400;
}

.section-2-contacts .places-center .places, .section-2-about .places-center .places {
  margin: 10px;
  font-size: 16px;
}

.section-2-contacts .text-block-2, .section-2-about .text-block-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-2-contacts .text-block-2 p, .section-2-about .text-block-2 p {
  color: #303030;
}

.section-2-about .text-block {
  color: #303030;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .owl-carousel .owl-prev {
    left: -30px !important;
    -webkit-transform: translate(0, -50%) !important;
        -ms-transform: translate(0, -50%) !important;
            transform: translate(0, -50%) !important;
  }
  .owl-carousel .owl-next {
    right: -30px !important;
    -webkit-transform: translate(0, -50%) !important;
        -ms-transform: translate(0, -50%) !important;
            transform: translate(0, -50%) !important;
  }
  .main-mnu ul > li {
    font-size: 16px;
    padding-left: 10px;
  }
  .main__slider {
    margin-left: 0;
    margin-right: 0;
  }
  .main__slider__slide .slide-img {
    min-width: 430px;
  }
  .main__slider__slide.man .slide-img {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .main__slider__slide.money .slide-img img {
    margin-top: 50px;
  }
  .main__slider__slide.man2 .slide-img {
    margin-top: 30px;
  }
  .main__slider__slide.calendar .slide-img img {
    margin-top: 50px;
  }
  .main__slider__slide.diamond .slide-img {
    margin-left: -50px;
  }
  .number {
    font-size: 15px;
  }
  .button {
    padding: 5px 10px;
    font-size: 12px;
  }
  .language {
    font-size: 14px;
  }
  .logo {
    margin-left: 0;
  }
  .advantage-item h4 {
    font-size: 16px;
  }
  .news-item .item-moretext {
    font-size: 14px;
  }
  .big-button-block .big-button:before, .big-button-block .big-button:after {
    width: 200px;
  }
  .big-button-block .big-button:before {
    left: -300px;
  }
  .big-button-block .big-button:after {
    right: -300px;
  }
}

@media screen and (min-width: 992px) {
  .toggle-mnu {
    display: none;
  }
  .main-mnu {
    display: block !important;
  }
}

@media screen and (max-width: 992px) {
  .main-mnu {
    display: none;
    z-index: 2;
    float: right;
    min-width: 200px;
    text-align: right;
    margin-top: 45px;
    position: absolute;
    right: 15px;
    background-color: #ff8181;
  }
  .main-mnu ul li {
    display: block;
    line-height: 0;
    padding: 0;
  }
  .main-mnu ul a {
    display: block;
    line-height: 48px;
    padding: 0 20px;
    background-color: transparent;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .main__slider {
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main__slider__slide {
    font-size: 14px !important;
  }
  .main__slider__slide .slide-text {
    margin-top: 40px;
  }
  .main__slider__slide h1 {
    font-size: 36px !important;
    width: unset !important;
  }
  .main__slider__slide.man h1 {
    width: 350px !important;
  }
  .main__slider__slide.man h3 {
    font-size: 14px;
  }
  .main__slider__slide.man ul li {
    font-size: 14px;
  }
  .main__slider__slide.man .slide-img {
    min-width: 350px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .main__slider__slide.money .slide-text {
    max-width: 340px;
  }
  .main__slider__slide.money .slide-text > span h1 {
    width: 40px !important;
  }
  .main__slider__slide.money .slide-img {
    min-width: 350px;
  }
  .main__slider__slide.money .slide-img img {
    margin-top: 90px;
  }
  .main__slider__slide.diagramma .slide-text h1 {
    min-width: unset;
  }
  .main__slider__slide.diagramma .slide-img img {
    margin-top: 90px;
  }
  .main__slider__slide.diamond .slide-text {
    margin-right: -40px;
  }
  .main__slider__slide.diamond .slide-img img {
    max-width: 450px;
    margin-left: 0;
  }
  .main__slider__slide.man2 .slide-img {
    min-width: 450px;
    margin-top: 30px;
  }
  .main__slider__slide.calendar .slide-img {
    min-width: 450px;
  }
  .main__slider__slide.calendar .slide-img img {
    margin-top: 50px;
  }
  .logo {
    margin-left: 0;
  }
  h1 {
    font-size: 42px;
  }
  .section-4 .button {
    margin-bottom: 10px;
  }
  .gold-ingot .param-block .param1, .gold-ingot .param-block .param2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section-5 {
    padding-top: 30px;
  }
  .section-5 .reviews {
    font-size: 30px;
  }
  .section-5 .review-name {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 22px;
  }
  .section-5 .review-body {
    font-size: 16px;
  }
  .big-button-block .big-button:before, .big-button-block .big-button:after {
    width: 150px;
  }
  .big-button-block .big-button:before {
    left: -200px;
  }
  .big-button-block .big-button:after {
    right: -200px;
  }
  .advantage-item {
    height: 230px;
  }
}

@media screen and (max-width: 768px) {
  .language {
    display: none;
  }
  .logo {
    margin-top: 10px;
  }
  .advantages .check-adv {
    font-size: 16px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    margin-bottom: 30px;
  }
  .main__slider__slide {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__slider__slide .slide-text {
    margin-top: 30px !important;
    margin-right: 0 !important;
  }
  .main__slider__slide .slide-text h1 {
    padding-bottom: 0;
    width: unset !important;
  }
  .main__slider__slide .slide-img {
    min-width: unset !important;
    max-width: 340px !important;
    margin-left: auto;
  }
  .main__slider__slide.man h1 {
    width: 350px !important;
    margin-bottom: 20px;
  }
  .main__slider__slide.man ul {
    margin-top: 20px;
    padding-left: 20px;
  }
  .main__slider__slide.man ul li {
    font-size: 14px;
    line-height: 25px;
  }
  .main__slider__slide.man ul li:before {
    width: 14px;
    height: 14px;
    top: 6px;
    left: -20px;
  }
  .main__slider__slide.man h3 {
    min-width: unset !important;
    max-width: 340px;
  }
  .main__slider__slide.man .slide-img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: auto;
    overflow: hidden;
    margin-top: -40px;
  }
  .main__slider__slide.money .slide-text {
    max-width: 340px;
  }
  .main__slider__slide.money .slide-text > span {
    margin-top: 35px;
  }
  .main__slider__slide.money .slide-text > span h1 {
    width: 40px !important;
  }
  .main__slider__slide.money .proc {
    font-size: 46px;
  }
  .main__slider__slide.money .proc:before {
    width: 170px;
    height: 170px;
    border-radius: 170px;
    top: -35px;
  }
  .main__slider__slide.money .slide-img {
    margin-left: auto;
  }
  .main__slider__slide.money .slide-img img {
    margin-top: -60px;
  }
  .main__slider__slide.diagramma .slide-text h1 {
    min-width: unset;
  }
  .main__slider__slide.diagramma .slide-img {
    margin-left: auto;
  }
  .main__slider__slide.diagramma .slide-img img {
    margin-top: 70px;
  }
  .main__slider__slide.diamond .slide-img {
    margin-top: -70px;
    margin-left: auto;
  }
  .main__slider__slide.man2 .slide-img {
    min-width: unset;
    max-width: 340px;
    margin-top: -20px;
  }
  .main__slider__slide.calendar .slide-text .timer span:first-child {
    margin-left: 0;
  }
  .main__slider__slide.calendar .slide-img {
    margin-top: -40px;
  }
  .main__slider__slide.calendar .slide-img img {
    margin-top: 0;
  }
  .advantage-item {
    width: 33.3%;
  }
  .big-button-block {
    margin: 40px 0 60px 0;
  }
  .big-button-block .big-button:before, .big-button-block .big-button:after {
    display: none;
  }
  .item-img {
    display: none;
  }
  .item-text {
    margin-bottom: 20px;
  }
  .section-5 {
    padding-top: 30px;
  }
  .section-5 .reviews {
    font-size: 28px;
  }
  .section-5 .review-name {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .section-5 .review-body {
    font-size: 15px;
  }
  .footer-top span {
    display: none;
  }
  .advantage-item {
    height: 250px;
  }
  .section-2-contacts .text-block, .section-2-about .text-block {
    padding: 40px 15px;
  }
  .section-2-contacts .places-center .places, .section-2-about .places-center .places {
    font-size: 15px;
  }
  .section-2-contacts h3, .section-2-about h3 {
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .owl-carousel .owl-nav {
    display: none;
  }
  .advantage-item {
    width: 50%;
    height: 240px;
  }
  .main__slider__slide .slide-text {
    max-width: 340px !important;
    width: 100%;
  }
  .main__slider__slide .slide-text h1 {
    width: unset !important;
    font-size: 32px !important;
  }
  .main__slider__slide .slide-img {
    max-width: 300px !important;
  }
  .main__slider__slide.money .slide-img {
    margin-top: 30px;
  }
  .main__slider__slide.money .slide-text {
    max-width: 340px;
  }
  .main__slider__slide.money .slide-text > span {
    margin-top: 35px;
  }
  .main__slider__slide.money .slide-text > span h1 {
    width: 40px !important;
  }
  .main__slider__slide.money .proc {
    font-size: 38px;
  }
  .main__slider__slide.money .proc span {
    font-size: 24px;
    margin-top: 15px;
  }
  .main__slider__slide.money .proc:before {
    width: 130px;
    height: 130px;
    border-radius: 130px;
    top: -20px;
    margin-left: -12px;
  }
  .main__slider__slide.diamond h1 {
    line-height: 32px;
    font-size: 31px !important;
    display: block !important;
    margin-bottom: 0;
    min-width: unset !important;
    max-width: 540px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .number {
    font-size: 14px;
  }
  .button, .number {
    display: none;
  }
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 15px;
  }
  .section-5 {
    padding-top: 20px;
    font-size: 24px;
  }
}

@media screen and (max-width: 479px) {
  .section-5 .review-name {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .section-5 .review-body {
    font-size: 14px;
  }
  .big-button-block .big-button {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 32px;
  }
  .advantages .check-adv {
    font-size: 15px;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 26px;
  }
}
/*# sourceMappingURL=main.css.map */