body {
	background: url('back2.png') no-repeat center center;
	max-height: 100vh;
}

.main-block {
	text-align: center;
	margin-top:  30vh;
}
h1 {
	font-size: 58px;
	color: #F34E5F;
	margin-bottom: 100px;
}

h3 {
	font-size: 42px;
	margin-bottom: 20px;
	color: #6D6F71;
}

a {
	color: #6D6F71;
	font-size: 24px;
	text-decoration: underline;
}

a:hover {
	color: #F34E5F;
}

@media screen and (max-width: 576px) {
	.main-block {
		margin-top: 15vh;
	}
}